/* footer.css */
.divider{
  background: #1c3030;
   padding: 3rem 7rem 3rem 5rem;
   font-size: var(--divider-font-size);
   font-weight: 700;
}
.footer_container {
  border-top: 1px solid #0ACF831F;
  background-color: #010213;
  color: #fff;
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  }
  .footer_container p{
    font-size: 1.7rem;
  }
  .sub_footer_container {
    flex-grow: 1;
  }
  
  .sub_footer_container h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .link {
    flex-grow: 2;
  }
  
  .hyper_link {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .hyper_link li {
    margin-bottom: 10px;
  }
  
  .hyper_link a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
    gap: 1rem;

  }
  
  .hyper_link a:hover {
    color: #61dafb;
  }
  
  /* Add more styling as needed */
  