.sidebar_conatiner{
    width: 10%;
    border-right: 1px solid #0ACF831F;
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar_conatiner p{
    transform: rotate(90deg);

}